$bg-color1:#fff;
$bg-color2:#e97190;

$txt-color1:#0f9e59;
$txt-color2:#666;
$txt-color3:#999;

$error-red:#FF5B5B;
$error-bg:#eee;

$theme-bg:$bg-color1;
$theme-color:$txt-color1;
$diabled-bg:#aaa;

$border-color:#dcdcdc;

