@import "./mixins.scss";
@import "./color.scss";

.login {
  .logo {
    text-align: center;
    img.logo {
      width: 3.6rem;
      height: pxToRem(360);
      margin-top: 20%;
    }
  }
  //input部分
  .form {
    padding: 10% 0 0;
    .user,.password {
      border-top: 1px solid $border-color;
      input {
        width: pxToRem(510);
        height:pxToRem(82);
        padding: pxToRem(28);
        font-size: pxToRem(30);
        border: none;
      }
      .warn {
        height:pxToRem(82);
        line-height: pxToRem(82);
        padding-right: pxToRem(32);
        span {
          @include btn(pxToRem(210), pxToRem(60), 13, 4px)
          background-color: #eee;
          border-color: #eee;
          &.correct {
            color: $theme-color;
          }
          &.error {
            color: $error-red;
          }
        }
      }
    }
    .password {
      border-bottom: 1px solid $border-color;
    }
    //两个链接
    .otherOpt {
      padding: pxToRem(30) pxToRem(100) 0;
      a {
        // @include font-dpr(14px);
        font-size: pxToRem(28);
        text-decoration: underline;
      }
    }
    .loginBtn {
      @include btn(pxToRem(500),pxToRem(80),18px,pxToRem(80));
      display: block;
      margin: pxToRem(86) auto pxToRem(58);
    }
    //选择其他登录箭头
    .otherLogin {
      // position: fixed;
      // width: 100%;
      // bottom: pxToRem(24);
      text-align: center;
      img {
        width: pxToRem(30);
        height:pxToRem(16);
      }
      .text {
        margin-top: pxToRem(8);
        color:$txt-color3;
        // @include font-dpr(16px);
        font-size: pxToRem(32);
        text-align: center;
      }
    }
  }
  //其他登录框
  .otherWrap {
    z-index: 1000;
    text-align: center;
    &,.otherBg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .otherBg {
      background-color: rgba(0,0,0,0.4);
    }
    .otherContent {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: pxToRem(300);
      background-color: #fff;
      i {
        display: inline-block;
        margin: pxToRem(20) auto pxToRem(15);
      }
      .text {
        // @include font-dpr(16px);
        font-size: pxToRem(32);
        color: $txt-color3;
      }
      .main {
        width: pxToRem(260);
        margin: pxToRem(36) auto 0;
        color: $txt-color2;
        img {
          margin-bottom: 6px;
        }
      }
    }
  }
  //其他登录框动画
  .slide-enter-active,.slide-leave-active {
    transition: all .2s ease; 
  }
  .slide-enter,.slide-leave-active {
    transform: translateY(pxToRem(300));
  }
}
